    <div id="intern" class="employee card">
        <div class="text-center text-light bg-danger card-body">
          <h2 class="card-title">Joshua Bidwell</h2>
          <h3 class="card-title"><i class="fas fa-mug-hot"></i>Intern</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Employee ID: <span>1</span></li>
          <li class="list-group-item">Email: <a href="mailto:jjbidwell262@gmail.com" target="_blank">jjbidwell262@gmail.com</a></li>
          <li class="list-group-item">School: <span>University of Florida</span></li>
        </ul>
      </div>